# Modeller (Hem ana dizin hem de alt klasörler için)
*.pt
*.onnx
*.pth
cnn/models/*.pt
cnn/models/*.json

# Dataset ve Eğitim Artıkları
egitim_fotolari/
dataset/
color_dataset/
color_dataset/
ham_fotolar/
dataset_kontrol.png

# Python & Sistem
__pycache__/
venv/
.env
.vscode/
.idea/
.DS_Store